:root{
    font-size: 62.5%;
    font-family: sans-serif;
}

.container-fluid{
    padding: 0;
    margin:0;
    font-size: 1.4rem;
}

.bg{
    background: url(../images/gato-de-botas.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.topmenu{
    background-color: black;
    color: white;
}

.logo{
    width: 1.9vw;
}

.shoppingcart{
    width: .9vw;
}

.tracking-lettering{
    letter-spacing: .2rem;
}

.btn-dark-hover:hover{
    background-color: grey;
}

.title{
    color: white;
    text-align: center;
    font-size: 7rem;
    text-shadow: 2px 2px 2px gray;
}

.subtitle{
    text-align: center;
    color: white;
    font-size: 1.6rem;
    background-color: black;
    opacity: .7;
    width: fit-content;
    padding: .8rem;
    margin: auto;
    border-radius: 5px;
}


@media screen and (max-width: 576px){
    .logo{
        width: 13vw;
    }

    .shoppingcart{
        width: 2.6vw;
    }
}

@media screen and (max-width: 992px){
    .fixedsize{
        width: fit-content;
    }

    .shoppingcart{
        width: 1.5vw;
    }

    
}