:root{
    font-size: 62.5%;
    font-family: sans-serif;
}

.container-fluid{
    padding: 0;
    margin:0;
    font-size: 1.4rem;
}

.bg{
    background: url(../images/background-contato2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.bg-mask{
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.topmenu{
    background-color: black;
    color: white;
    width: 100%;
}

.logo{
    width: 1.9vw;
}

.shoppingcart{
    width: .9vw;
}

.tracking-lettering{
    letter-spacing: .2rem;
}

.btn-dark-hover:hover{
    background-color: grey;
}

.hrow{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.pagebody{
    margin: auto 30%;
    padding: 0;
}

.custom-fieldset{
    border: 1px solid #b6b6b6;
}

.divbuttons{
    font-size: 8rem;
    text-align: center;
    height: 6rem;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.imgs img{
    border: solid 2px white;
    border-radius: 10px;
}

.img1{
    width: 23vh;
}

.img2{
    width: 32vh;
}

@media screen and (max-width: 992px){
    .fixedsize{
        width: fit-content;
    }

    .shoppingcart{
        width: 1.5vw;
    }
    
    .pagebody{
        margin: auto 20%;
        padding: 0;
    }
}

@media screen and (max-width: 576px){
    .logo{
        width: 13vw;
    }

    .shoppingcart{
        width: 3.3vw;
    }
    
    .custom-fieldset,
    .localization{
        font-size: 1.2rem;
    } 

    .pagebody{
        margin: 2vh 8vw;
        padding: 0;
    }

    .imgs{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .img1{
        width: 16vh;
    }
    
    .img2{
        width: 22vh;
    }
}