html,
body{
    height: 100%;
    margin: 0;
}    

body{
    font-family: sans-serif;
    font-size: 15px;
    position: fixed;
    width: 100%;
    }    

.inicio{
    background-image: url(imagens/gato-de-botas.jpg);
    background-size: cover;
    height: 700px;
    /* width: 100%; */
    /* margin: 0; */
}    

.inicio h1{
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px gray;
}    

#subtitulo{
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: black;
    opacity: .7;
    width: fit-content;
    padding: 8px;
    margin: auto 40%;
    border-radius: 5px;
}

.menu {
    margin-top: 0;
    padding: 0.75rem;
    background-color: inherit;
}

.menu li{
    list-style-type: none;
    display: inline-block;
    letter-spacing: 2px;
    border: 1px solid white;
    padding: 0;
}

.menu a{
    border-radius: 5px;
    background-color: black;
    padding: .6rem;
    color: white;
    text-decoration: none;
    font-size: .7rem;
}

.menu a:hover{
    background-color: rgb(65, 65, 65);
    padding: .6rem;
}

.menu li:hover ul{
    display: block;
}

.menu li ul{
    position: absolute;
    display: none;
}

.menu li ul li{
    display: block;
    width: fit-content;
    color: white;
}

.main-title{
    color: white;
    text-align: left;
    font-size: 16px;
    text-shadow: 2px 2px 2px gray;
    display: inline;
    margin-left: 1rem;
    border: 0px;
}

.try{
    display: flex;
    justify-content: end;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 39px;
}

.title{
    align-self: center;
    display: inline-block;
}

.menutry{
    margin-left: 148px;
}

/* mobile */
@media screen and (max-width: 376px){

    html,
    body{
    height: 100%;
    margin: 0;
}    

    body{
        font-family: sans-serif;
        font-size: 62.5%;
        /* position: fixed; */
        width: 100%;
        margin-right: 4rem;
        /* border: 2px solid blue; */
    }
    
    .bg {
        position: absolute;
        object-fit: cover;
        object-position: top left;
        z-index: -1;
        opacity: 0.25;
    }

    .inicio{
        background-size:contain;
        background-repeat: no-repeat;
        height: 100%;
        text-align: center;
        background-position: center;
        background-image: url(imagens/gato_de_botas2.jpg);
        /* width: 100%; */
        /* margin: 0; */
        /* border: 2px solid blue; */
    }

    #subtitulo{
        text-align: center;
        color: white;
        font-size: 16px;
        line-height: 1.5rem;
        background-color: black;
        opacity: .7;
        width: 10rem;
        padding: .8rem;
        margin: 5rem auto;
        border-radius: 5px;
    }

    .try{
        display: flex;
        background-color: black;
        margin: 0;
        padding: 0;
        height: 6.4rem;
        width: 100%;
    }
    
    .title{
        width: 6rem;
        margin: 1rem;
        text-align: center;
        line-height: 2rem;
    }
    
    .main-title{
        margin: 0;
        /* padding: 4rem; */
        color: white;
        font-size: 1.5rem;
    }
    
    .menu {
        width: 100%;
        height: 4.2rem;
        margin: 0;
        padding: 0rem;
        text-align: center;
        background-color: black;
    }

    .menutry{
        margin:0;
        padding: 1rem 0 0 0;
    }
    
    .menu li{
        list-style-type: none;
        display: inline-flex;
        border-radius: 5px;
        border: 1px solid white;
        letter-spacing: 1px;
        margin: 2px;
        /* padding: 0; */
    }
    
    .menu a{
        color: white;
        text-decoration: none;
        font-size: .7rem;
        padding: .5rem;
    }
    
    .menu a:hover{
        padding: .5rem;
        background-color: rgb(65, 65, 65);
    }
    
    .menu li:hover ul{
        display: block;
    }
    
    .menu li ul{
        position: absolute;
        display: none;
    }
    
    .menu li ul li{
        display: block;
        width: fit-content;
        color: white;
    }
}